<header>
    <div class="container h-100">
      <div class="d-flex justify-content-between align-items-center h-100">
        <!-- logo -->
        <div class="logo">
          <a href="#">
            <span class="c-logo">Rule of Thumb.</span>
          </a>
        </div>
        <!-- menu -->
        <section class="l-menu">
          <!-- burger -->
          <button id="burger" role="button" class="btn-burger" (click)="menuMobile($event)">
            <span></span>
            <span class="large"></span>
            <span></span>
          </button>
          <nav id="menuPpal" class="menu-ppal">
            <div class="contenido-menu d-flex flex-column justify-content-around align-items-top h-100">
              <ul class="d-flex flex-column flex-md-row justify-content-md-between">
                <li>
                  <a href="#">
                    <span class="h6">Past Trials</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="h6">How It Works</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="h6">Log In / Sign Up</span>
                  </a>
                </li>
                <li class="search">
                  <a href="#">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z"/></svg>
                  </a>
                </li>
              </ul>
            </div>		
          </nav>
        </section>				
      </div>
    </div>		
</header>