.c-logo {
	color: $white;
	font-family: $fontppal !important;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1;

	@include media-breakpoint-up(md) {
		font-size: 2rem;
	}
}

.c-linkwiki {

	img {
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
		width: 25px;	
	}

	a {
		color: $white;
		position: relative;
		vertical-align: middle;

		&:before {
			background-color: $white;
			bottom: -4px;
			content: "";
			right: 0;
			height: 2px;
			position: absolute;
			transform: scaleY(1) scaleX(1);
			transform-origin: right;
			transition: all ease 0.2s;
			width: 100%;
			z-index: -1;
		}

		&:hover {
			&:before {
				background-color: $bg-white2;
				bottom: 7px;
				left: 8px;
				transform: scaleY(15) scaleX(1.43);			
			}
		}
	}
}

.c-box-ppal {
	color: $white;	

	.text {
		background-color: $bg-black;
		backdrop-filter: blur(20px);
		padding: 35px;
	}

	.buttons {
		.btn-base {
			width: 50%;
		}
	}
}

.c-box-closing {

	.title {
		background-color: $bg-grey;
		padding: 14px 10px;
		position: relative;
		text-align: right;
		width: 40%;

		&:before {
			content: "";
			border-top: 12px solid transparent;
			border-bottom: 12px solid transparent;			
			border-left: 12px solid $bg-grey;
			height: 0;
			position: absolute;
			right: -12px;
    		top: calc(50% - 10px);
			width: 0; 			 
		}

		p {
			color: $white;
		}
	} 

	.days {
		background-color: $bg-white;
		padding: 4px 25px;
		width: 60%;

		h5 {
			font-size: 2rem;
			color: $grey;

			@include media-breakpoint-up(md) {
				font-size: 2.25rem;
			}
		}
	}
}

.c-box-vote {
	margin-bottom: 40px;
	position: relative;

	img {
		width: 100%;
	}

	.content {
		bottom: 0;
		left: 0;
		position: absolute;
		width: 100%;

		.description {
			color: $white;
			padding: 0 60px;					
		}		
	}
}