header {	
	background-color: $gris_claro;
	height: 70px;
	padding-top: 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	@include media-breakpoint-up(sm) {
		height: 80px;
		padding-top: 20px;
	}

	@include media-breakpoint-up(md) {
		background-color: transparent;
		height: 100px;
		padding-top: 40px;
	}

	.logo {
		position: relative;
		width: 160px;

		@include media-breakpoint-up(md) {
			width: 180px;
		}

		img {
			width: 100%;
		}
	}
}