.l-home {
	height: 100vh;
	position: relative;
	width: 100%;

	img {
		height: 100%;
		object-fit: cover;
		object-position: bottom;
		opacity: 1;
		width: 100%;
	}

	.caption {
		bottom: 0;
		height: calc(100% - 70px);
		position: absolute;
		width: 100%;

		@include media-breakpoint-up(md) {
			height: calc(100% - 80px);
		}

		@include media-breakpoint-up(md) {
			height: calc(100% - 100px);
		}

		h1 {
			margin: 10px 0 20px;
			text-align: center;

			@include media-breakpoint-up(md) {
				text-align: left;
			}
		}

		h4 {
			font-size: 1rem;
			margin-bottom: 20px;
			text-align: center;
			width: 100%;

			@include media-breakpoint-up(md) {
				text-align: left;
				width: 82%;
			}
		}
	}
}