.l-menu {

	.btn-burger {
		display: block;
		
		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	.menu-ppal {
		display: none;

		@include media-breakpoint-up(md) {
			display: block;
		}

		&.show {
			display: block;
			height: 100vh;
			left: 0;
			padding-top: 70px;
			position: fixed;
			top: 0;
			width: 100vw;
			z-index: 8;

			@include media-breakpoint-up(sm) {
				padding-top: 80px;
			}

			@include media-breakpoint-up(md) {
				padding-top: 100px;
			}

			&:before {
				background-color: $black;
				content: "";
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100vw;
				z-index: -1;

				@include media-breakpoint-up(md) {
					width: 50vw;
				}
			}
		}

		ul {
			list-style: none;
			margin-bottom: 0;
			padding-left: 20px;
			padding-right: 20px;
			position: relative;
			text-align: left;

			li {
				position: relative;

				@include media-breakpoint-up(md) {
					text-align: center;
				}

				a {
					color: $white;
					display: inline-block;
					padding: 20px 0;
					position: relative;
					width: 100%;
					text-align: center;				

					@include media-breakpoint-up(md) {
						padding: 25px 15px;
					}

					&:before {
						background-color: $white;
						bottom: 22px;
						content: "";
						left: 10%;
						height: 2px;
						position: absolute;
						transform: scaleX(0);
						transform-origin: center;
						transition: all ease 0.2s;
						width: 80%;
						z-index: -1;
					}

					&:hover {
						&:before {
							transform: scaleX(1);
						}
					}
				}			

				&.search {
					a {
						svg {
							fill: $white;
						}

						&:before {
							background-color: $bg-white2;
							bottom: 14px;
							border-radius: 50%;
							content: "";
							left: 5px;
							height: 46px;
							position: absolute;
							transform: scale(0);
							transform-origin: center;
							transition: all ease 0.2s;
							width: 46px;
							z-index: -1;
						}

						&:hover {
							&:before {
								transform: scale(1);
							}
						}
					}
				}
			}
		}

		.contenido-menu {
			width: 100%;
		}
	}
}