// fonts
$fontppal       :  'Oswald', sans-serif;

// colors
$gris_claro     :  #f1f1f2;
$morado         :  #8566e1;
$azul_claro     :  #05c1d6;
$azul           :  #0d1d7e;
$gris           :  #a6a8ab;
$blanco         :  #ffffff;
$negro          :  #231f20;
$shadow         :  rgba(227, 238, 250, 1);