body {
	color: $black;
	font-family: $fontppal !important;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	line-height: auto;
	word-wrap: break-word;
}
*, *:hover, *:focus {
	outline: none!important;
	transition: all ease 0.2s;
}
::selection {
	background-color: $black;
	color: $white;
}
::-moz-selection {
	background-color: $black;
	color: $white;
}
a {
	font-family: $fontppal !important;
	font-size: 1rem;
	font-weight: 300;

	&:hover, &:focus {
		color: $black;
		text-decoration: none;
	}
}
p, .p { /**/
	font-family: $fontppal !important;
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.2;
}
h1, .h1 { /**/
	font-family: $fontppal !important;
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 25px;

	@include media-breakpoint-up(md) {
		font-size: 3.75rem;
	}
}
h2, .h2 { /**/
	font-family: $fontppal !important;
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.2;
	
	@include media-breakpoint-up(md) {
		font-size: 2.5rem;
	}
}
h3, .h3 { /**/
	font-family: $fontppal !important;
	font-size: 2.5rem;
	font-weight: 400;

	@include media-breakpoint-up(md) {
		font-size: 2.8rem;
	}
}
h4, .h4 { /**/
	font-family: $fontppal !important;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1;

	@include media-breakpoint-up(md) {
		font-size: 1.8rem;
	}
}
h5, .h5 { /**/
	font-family: $fontppal !important;
	font-size: 1.15rem;
	font-weight: 300;
	line-height: 1.2;

	@include media-breakpoint-up(md) {
		font-size: 1.25rem;
	}
}
h6, .h6 { /**/
	font-family: $fontppal !important;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1;

	@include media-breakpoint-up(md) {
		font-size: 1rem;
	}
}
small {
	font-size: 0.87rem;
}
strong {
	font-weight: 700;
}
img {
	display: block;
	height: auto;
	max-width: 100%;
}
button {
	background: none !important;
	border: none !important;
	cursor: pointer;
}

main {
	overflow: hidden;
}